body {
    background: linear-gradient(to right, $blue, $lightBlue);
    min-height: 100vh;
}

#root, .page-wrap {
    height: 100%;
}

.page-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-arrow {
    color: $white;
    position: absolute;
}

.error {
    color: $darkBlue;
    font-size: 3rem;
    margin: 30px 0;
}
