@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Work+Sans:wght@500;700;900&display=swap');

body, input, button, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bodyFont;
    color: $textColor;
}

h1, h2, h3 {
    font-family: $titleFont;
    color: $titleColor;
}

// Reste des propriétés des fonts...

