.home-page {
  display: flex;
  height: 100vh;
  margin: 0 30px;
  &:before {
    background: linear-gradient(to bottom right, #D7E1F5, #628BE1, #4884F5);
    border-radius: 325px;
    content: '';
    height: 650px;
    left: -20px;
    position: absolute;
    top: -50px;
    width: 650px;
    z-index: -1;
  }

  &:after {
    background: linear-gradient(to bottom right, #DBE6F5, #70A4E1, #55A6F7);
    border-radius: 175px;
    content: '';
    height: 350px;
    position: absolute;
    right: -50px;
    top: -50px;
    width: 350px;
    z-index: -1;
  }

  .infos-block {
    align-self: center;
    flex: 1;
    font-weight: bold;
    text-align: center;
    h1 {
      color: $white;
      display: inline-block;
      font-size: 19.6rem;
      position: relative;

      &:after {
        content: '04h11';
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: rgba($darkBlue, 0.4);
        font-family: $titleFont;
        left: 14px;
        position: absolute;
        top: 14px;
        z-index: -1;
      }
    }
    p {
      color: $darkBlue;
      font-size: 3.7rem;
    }
  }

  .nav-arrow {
    bottom: 0;
    right: 24px;
    span {
      font-size: 5.5rem;
    }
  }
}
