.user-page {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  padding-top: 226px;
  text-align: center;
  .nav-arrow {
    left: 8px;
    top: 16px;
    span {
      font-size: 4rem;
    }

    span.material-icons {
      transform: rotate(180deg);
    }
  }

  .loading {
    margin: auto;
  }

  select {
    appearance:none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='50' viewBox='0 0 24 24' width='50' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border: 11px solid $white;
    color: rgba($white, 0.7);
    font-family: $bodyFont;
    font-size: 4rem;
    font-weight: bold;
    padding: 56px 90px 56px 50px;
    width: 100%;
  }

  .infos-block {
    font-weight: bold;
    margin: 90px 0 145px;
    text-align: left;

    p {
      color: $darkBlue;
      font-size: 3rem;
      line-height: 3.5rem;
      margin-bottom: 10px;
      span {
        color: $white;
      }
    }
  }

  .articles-list {
    display: flex;
    flex-wrap: wrap;

    .article {
      background-color: $white;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      margin-bottom: 36px;
      padding: 96px 50px;
      width: calc(50% - 21px);

      &:nth-child(odd) {
        margin-right: 21px;
      }
      &:nth-child(even) {
        margin-left: 21px;
      }

      span {
        color: $darkBlue;
        display: block;
        font-family: $titleFont;
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 70px;
      }
      p {
        color: $grey;
        font-size: 1.5em;
        line-height: 1.2em;
        text-align: left;
      }
    }
  }

}
